.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dataBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}
