.main {
  color: #fff;
  width: 100%;
}

.icon {
  height: 150px;
  width: 150px;
}

.imgBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todayInfo {
  margin: 10px 0;
  width: 100%;
  padding-left: 10px;
}

.dayData {
  display: flex;
  font-size: 18px;
  width: 100%;
}

.infoSides {
  width: 100%;
  padding: 10px;
}

.todayDescription {
  padding: 10px 0;
}

.todayWeatherRed {
  background-color: var(--todayBackgroundClrRed);
}
.tomorrowWeatherRed {
  background-color: var(--tomorrowBackgroundClrRed);
}
.afterTomorrowWeatherRed {
  background-color: var(--afterTomorrowBackgroundClrRed);
}

.todayWeatherYellow {
  background-color: var(--todayBackgroundClrYellow);
}
.tomorrowWeatherYellow {
  background-color: var(--tomorrowBackgroundClrYellow);
}
.afterTomorrowWeatherYellow {
  background-color: var(--afterTomorrowBackgroundClrYellow);
}

.todayWeatherBlue {
  background-color: var(--todayBackgroundClrBlue);
}
.tomorrowWeatherBlue {
  background-color: var(--tomorrowBackgroundClrBlue);
}
.afterTomorrowWeatherBlue {
  background-color: var(--afterTomorrowBackgroundClrBlue);
}
